.storyReels{
    display: flex;
    width: 94%;
    height: 14em;
    justify-content: space-between;
    overflow-y: hidden;
}
/* .storyReels {
    display: flex;
    width: 74%;
    height: 14em;
    overflow-y: hidden;
    margin-left: 7em;
    justify-content: space-between;
} */
.storyReels:after {
    content: '';
    position: absolute;
    height: 236px;
    width: 0px;
    left: 67em;
    box-shadow: 0 0 20px 13px #f1f2f5;
}
.storyReels:before {
    content: '';
    position: absolute;
    height: 236px;
    width: 0px;
    box-shadow: 0 0 20px 13px #f1f2f5;
}
::-webkit-scrollbar{
    height: 0.5em;
    width: 0.5em;
}
::-webkit-scrollbar-track{
    background-color: #f1f2f5;
}
::-webkit-scrollbar-thumb{
    background-color: #227df2;
    border-radius: 10px;
}