*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 3em;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo-image {
  width: 6em;
  height: 2em;
}
a {
  color: white;
  text-decoration: none;
}
.logo-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.logo-details h3{
  display: none;
}
.menu-style {
  display: flex;
  position: absolute;
  gap: 1em;
  flex-direction: column;
  padding-right: 1em;
  right: 0em;top: 0em;
  background: white;    height: 100%;
  padding: 1em 0;
  width: 10em;
  top: 3em;
}
.menu-style a{
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 1px solid black;
  padding: 0.5em;
}

@media (min-width: 768px){
  .logo-details h3{
    display: block;
  }
  .menu-style {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 1em;
    padding-right: 1em;
    right: 0;top: 0;
    background-color: transparent;
    width: auto;
  }
  .menu-style a{
    color: white;
    border-bottom: none;
    text-align: start;
    padding: 0em;
  }
}