.sidebar{
    display: flex;
    flex-direction: column;
    margin-left: 0.2em;
    width: 15em;
    margin-top: 1em;
}

@media screen and (max-width: 600px) {
    .sidebar{
        display: none;
    }
    
}