.top-track-view{
    padding: 1em;
    display: flex;
    padding-top: 6em;
    /* background-image: linear-gradient(rgb(0 0 0 / 22%) 0,#0b0b0b 100%),var(--background-noise); */
}
.top-track-view > img{
    height: 250px;
    width: 250px;
}
.top-track-view > ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.top-track-view > ul > li:nth-child(1){
  text-transform: uppercase;
}
.top-track-view > ul > li:nth-child(2){
  font-size: 5em;font-weight: bold;
}
.top-track-view > ul > li:nth-child(4){
  font-weight: bold;
}
.track-view {
  padding: 1em;
  background-image: linear-gradient(rgb(0 0 0 / 3%) 0,#12121296 95%),var(--background-noise);
}
.track-view > table > thead {
  border-bottom: 1px solid white;
}
.track-view > table > thead > * > th,
.track-view > table > tbody > * > td {
  text-align: left;
  padding: 0.6em;
}
.track-view > table {
  width: 100%;
  border-collapse: collapse;
}
.track-node:hover {
  background-color: #c0c0c038;
  cursor: pointer;
}
.track-node > td:first-child {
  width: 3em;
}
.track-node:hover > td:first-child {
  color: transparent;
}
.track-node:hover > td:first-child::after {
  content: "▶";
  color: white;
  position: relative;
  left: -10px;
}
.album-view-style{
  top: -74px;
  position: relative;
}