.App {
  text-align: center;
}

.body-theme{
  background-color: var(--bg-color);
  color: var(--primary);
}

.app-light{
  --bg-color:#FFF;
  --primary:#7803c6;
  --warn:orangered;
}

.app-dark{
  --bg-color:#101;
  --primary:#7803c6;
  --warn:orangered;
}