.navbar {
  height: 3em;
  position: fixed;
  top: 0;
  background-color: transparent;
  z-index: 100;
  width: 100%;
  transition: all 100ms ease-in-out;
}
.branding__image {
  height: 3em;
  margin-left: 1em;
}
