.app {
  display: flex;
  background: #282828;
  color: white;
  height: 90vh;
  overflow: hidden;
}
.app__nav-body {
  width: 98%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #181818;
}
