.app {
  display: grid;
  background: #282828;
  color: white;
  overflow: hidden;
}
.main {
  grid-template-columns: 22% 78%;
  display: grid;
  height: 100vh;
}
.app__nav-body {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #181818;
}
